

<br />
<br />

@{
    ViewBag.Title = "_AdminIndexPartial";
}

<button>
    @Html.ActionLink("წიგნები", "BookList", "Admin")
</button>

<button>
    @Html.ActionLink("ავტორები", "AuthorList", "Admin")
</button>

<button>
    @Html.ActionLink("ჟანრები", "GenreList", "Admin")
</button>

<button>
    @Html.ActionLink("იუზერები", "UserList", "Admin")
</button>

<button>
    @Html.ActionLink("ადმინები", "AdminList", "Admin")
</button>
